/lib
/tsconfig.json
/tslint.json
/.travis.yml
/appveyor.yml
/.vscode
/.idea
/.build/
/.gfx
/.github
/asdf.jpg
/foo_asdf_bar.jpg
/asdf.png
/asdf_bar.jpg
/foo_asdf.jpg
/.scratch/
/docs/
/e2e/
/sonar-project.properties
/typedoc.js
/index.e2e.spec.ts
/index.ts
/jest.config.js
