body {
  width: 100vw;
  height: 100vh;
}

#content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#exit {
  color: white;
  font-size: 1.5rem;
  background: darkblue;
}
